@charset "utf-8";
/*汇总对账
*********************************************/
.money-check{
  @pad: 10px;
  padding: @pad 0;
  .top{
    height: 90px;
    select{
      margin-bottom: @pad*3.5;
    }
    p{
      text-align: right;
      color: #988484;
    }
    h4{
      padding: @pad 0;
      margin: 0;
      font-weight: 700;
    }
  }
}

.time-search-w > div{
  display: inline-block;
}
.timeBox{
  padding: 0;
  div{
    width: 195px;
    height: 34px;
    position: relative;
    input{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}